*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face{
  font-family:"Logo";
  src:url('/fonts/DancingScript-Bold.ttf') ;
}

@font-face{
  font-family:"other";
  src:url('/fonts/Montserrat-Regular.ttf') ;
}

:root{
  --header1:calc(2rem + 1vw);
  --header2:calc(3.5rem + 1vw);
  --header3:calc(3rem + 1vw);
  --header4:calc(2.4rem + 1vw);
  --text:calc(1.5rem + 1vw);
  --big:calc(2.4rem + 1vw);
  --sp-color:#906272;
  --main-color:#414141;
  --se-color:#424242;

}

html {
  font-size: 62.5%;
}

h1 {
  font-size: var(--header1);
}

h2 {
font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,h5 {
  font-size: var(--header4);
}

li,button,label,input,p{
  font-size: var(--text);
}

a {
  font-size: var(--text);
  text-decoration: none;
  color: #000;
  
}

ul {
  list-style: none;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



body {
  font-family: "other", sans-serif;
}

.container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

h1 {
  font-family: "Logo" sans-serif;
}

img {
  width: 100%;
}

/* nav--------------------------- */


.main-header{
  background: #fff;
  padding: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  z-index:1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;

}
.nav-links a {
  padding: 2.5rem;
  color: #000;
}

.logo {
  font-family: "Logo" ;
}


/* hero section */

.hero {
 height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.hero-content {
  flex: 2 1 40rem;
  text-align: center;
}

.hero-content p {
  padding: 5rem 10rem;
}

.hero-content h2 {
  padding-top: 3rem;
}

.hero-content a{
  padding: 2rem 8rem;
  border: 3px solid #000;
  margin-bottom: 4rem;
}

.hero-img {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd,#dad1d4);
}

.hero-ahmed{
  height: 100%;
  width: 100%;
  object-fit: cover;
}